/* General container overflow fix */
.overflow-initial {
    overflow: initial !important;
  }
  
  .custom-arrow {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .custom-arrow.less-top {
    top: 45%;
  }
  
  /* Arrow content styling */
  .custom-arrows::before {
    font-size: 20px;
    color: #047C36;
  }
  
  /* Adjusting margins for arrows */
  .custom-arrow--prev {
    left: -24px;
    margin-right: 2px;
  }
  
  .custom-arrow--next {
    right: -24px;
    margin-left: 2px;
  }
  
  /* Smooth scrolling styles */
  .linear-scroll-splide .splide__list {
    transition-timing-function: linear; /* Smooth scrolling */
  }
  
  .linear-scroll-splide .splide__slide {
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }
  
  /* Responsive adjustments */
  @media only screen and (max-width: 768px) {
    .custom-arrows--next {
      right: 16px;
    }
  
    .custom-arrows--prev {
      left: auto;
      right: 70px;
    }
  
    .custom-arrows, .custom-arrow.less-top {
      bottom: -80px;
      top: auto !important;
    }
  }
  



.custom-arrow{
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-arrow::after {
    font-size: 20px;
    color: #047C36;
}

.custom-arrow--prev::after{
    content: "";
    display: flex;
    margin-left: 3px;
    border-right: 1px solid #1A520F;
    border-bottom: 1px solid #1A520F;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
}

.custom-arrow--next::after{
  content: "";
  display: flex;
  margin-right: 3px;
  border-right: 1px solid #1A520F;
  border-bottom: 1px solid #1A520F;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}

.custom-arrow--next{
    right: -24px;
}

.custom-arrow--prev{
    left: -24px;
}

/* @media only screen and (max-width: 1296px) {
    .custom-arrow--next{
        right: 0px;
    }
    
    .custom-arrow--prev{
        right: 56px;
        left: auto;
    }

    .custom-arrow--next, .custom-arrow--prev{
        bottom: -56px;
        top: auto !important;
    }
} */

.splidetestimonial.overflow-initial .splide__slide{
  opacity: 0.3;
  transition: all 200ms ease-in-out;
}
.splide__slide.is-visible.is-active, .splide__slide.is-visible.is-next, .splide__slide.is-visible{
  opacity: 1;
}

  
@media only screen and (max-width: 768px) {
    .custom-arrow--next{
        right: 0px;
    }
    
    .custom-arrow--prev{
        right: 56px;
        left: auto;
    }

    .custom-arrow--next, .custom-arrow--prev{
        bottom: -80px;
        top: auto;
    }

    .splide__slide{
      opacity: 1;
    }
}


